:root {
  --text-primary: #000;
  --bgPrimary: #fff;
  --bgSecondary: #eaeaea;
  --btn-col: #fff;
  --light-blue: #e6f7ff;
  --border: #d9d9d9;
  --hover-color: rgba(105, 105, 105, 0.7);
  --input-field-bgcol: #eaeaea;
}

[data-theme=dark] {
  --text-primary: #fff;
  --bgPrimary: rgb(15 23 42);
  --bgSecondary: #030912;
  --btn-col: #2563eb;
  --light-blue: #e6f7ff;
  --border: #d9d9d9;
  --hover-color: rgba(0, 255, 255, 0.7);
  --input-field-bgcol: rgb(30 41 59);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s ease-in-out;
}

a:hover {
  color: var(--pink) !important;
}

.redCross {
  color: red;
  font-weight: "bold";
  font-size: larger;
}

.greenTick {
  color: rgb(0, 244, 4);
  font-weight: "bold";
  font-size: larger;
}

.app {
  display: flex;
  overflow: hidden;
  min-height: 100vh;
}

.navbar {
  flex: 0.17;
  background-color: var(--bgPrimary);
}

.nav-container {
  position: fixed;
  left: 0;
  margin: 10px;
  height: 100vh;
  margin: 0px;
  background-color: var(--bgPrimary);
  color: var(--text-primary);
}

.logo-container {
  background-color: var(--bgPrimary);
  display: flex;
  padding: 20px;
  align-items: center;
  width: 100%;
}
.logo-container .logo {
  margin: 0 0 0 15px;
  color: var(--text-primary);
}
.logo-container .logo a {
  color: var(--text-primary);
}
.logo-container .nav-items {
  background-color: var(--bgPrimary);
  color: var(--text-primary);
}
.logo-container .nav-items .menu-link {
  color: var(--text-primary) !important;
}

.main {
  flex: 0.83;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.main .routes {
  padding: 0 20px 130px 65px;
  background-color: var(--bgSecondary);
  color: var(--text-primary);
  height: 100%;
}
.main .routes .heading {
  color: var(--text-primary);
}
.main .routes .heading .title {
  color: var(--text-primary);
}
@media screen and (max-width: 800px) {
  .main .routes {
    padding-left: 25px;
  }
}

.crypto-header-card-info {
  background-color: var(--bgPrimary);
  padding: 1rem;
  border-radius: 10px;
}

.card {
  background-color: var(--bgPrimary);
  color: var(--text-primary);
  border: transparent;
}
.card .ant-card-head {
  background-color: var(--bgPrimary);
  color: var(--text-primary);
}
.card .ant-card-body {
  height: 100%;
}
.card .news-desc {
  margin: 2rem 0 3rem 0;
}
.card .provider-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 10px;
  width: 100%;
}
.card .provider-container .news-source {
  display: flex;
  white-space: nowrap;
}
.card .provider-container .news-source :nth-child(1) {
  background-color: #d9d9d9;
}
.card .provider-container .news-source :nth-child(2) {
  flex-wrap: wrap;
}
.card .provider-container .news-time {
  margin-right: 2rem;
}

.card:hover {
  box-shadow: 0 0 10px 0 var(--hover-color);
}

.menu-control-container {
  display: none !important;
  position: absolute !important;
  right: 10px !important;
  top: 25px !important;
  font-size: 1.2rem !important;
  background-color: var(--bgSecondary) !important;
  border: none !important;
}

.loader {
  height: 81vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1170px) {
  .main {
    margin-left: 50px;
  }
}
@media screen and (max-width: 1000px) {
  .main {
    margin-left: 100px;
  }
}
@media screen and (max-width: 800px) {
  .app {
    flex-direction: column;
    overflow: hidden;
  }
  .navbar {
    flex: 1;
  }
  .main {
    flex: 1;
    margin-top: 80px;
    margin-left: 0px;
    margin-right: 10px;
  }
  .nav-container {
    height: 8vh;
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: var(--bgSecondary);
  }
  .menu-control-container {
    display: block !important;
    color: var(--text-primary) !important;
  }
  .ant-menu {
    position: absolute;
    right: 0px;
  }
  .show-more {
    font-size: 1.3rem !important;
  }
}
.coin-detail-container {
  margin: 30px;
}

.coin-heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid var(--border);
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 10px;
}
.coin-heading-container .coin-name {
  font-weight: 900;
  color: var(--pink);
}
.coin-heading-container p {
  font-size: 1rem;
  opacity: 0.9;
  margin-bottom: 20px;
}
.coin-heading-container .stats-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.coin-heading-container .stats-container h2 {
  font-weight: 700;
  font-size: 1.4rem;
  margin-top: 20px;
  color: var(--pink);
}

.coin-details-heading {
  font-weight: 700 !important;
  margin-top: 20px !important;
  color: var(--pink) !important;
}

.coin-stats {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border);
  font-size: 1rem;
  opacity: 0.9;
  padding: 20px;
}

.coin-stats-name {
  display: flex;
  gap: 10px;
  font-size: 1rem;
}

.stats {
  font-weight: 800;
}

.coin-value-statistics-heading p {
  font-size: 1rem;
  opacity: 0.9;
}

.coin-desc-link {
  display: flex;
  gap: 40px;
  margin-top: 40px;
  padding-top: 20px;
}

.coin-desc-link h2 {
  font-weight: 700;
  color: var(--pink);
}

.coin-desc-link p {
  font-size: 1rem;
  opacity: 0.9;
}

.coin-desc-link a {
  color: var(--pink);
}

.coin-desc-link h3 {
  font-weight: 700;
}

.coin-desc {
  flex: 0.5;
}

.coin-links {
  padding: 0px 20px;
  flex: 0.5;
}

.coin-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border);
  padding: 20px;
}

.link-name {
  text-transform: capitalize;
  font-size: 1rem;
}

.coin-link a {
  color: var(--pink);
  font-weight: 700;
  font-size: 1rem;
}

.coin-link:hover,
.coin-stats:hover {
  background-color: var(--bgSecondary);
}

@media screen and (max-width: 1000px) {
  .stats-container {
    flex-direction: column;
  }
  .coin-desc-link {
    flex-direction: column;
  }
  .stats-container h2 {
    margin-top: 0px;
  }
}
@media screen and (max-width: 500px) {
  .coin-links {
    padding: 0px;
  }
  .coin-detail-container {
    margin: 0;
  }
}
@media screen and (max-width: 500px) {
  .heading {
    margin-top: 20px;
  }
}
@media screen and (max-width: 700px) {
  .login__image {
    display: none;
  }
}
.select-news {
  width: 180px;
}

.news-card {
  min-height: 300px !important;
}

.news-header-container {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  align-items: center;
}
.news-header-container .img {
  width: 150px;
  height: 150px;
  margin-top: 1rem;
}
.news-header-container .news-title {
  width: 100%;
}

.news-card p {
  color: black;
  margin: 10px 0px !important;
}

.provider-name {
  margin-left: 10px;
}

.chart-header {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  color: #0071bd;
}

.chart-title {
  color: #0071bd !important;
}

.price-container {
  display: flex !important;
  gap: 20px !important;
  align-items: center !important;
  flex-wrap: wrap !important;
}

.price-change {
  font-weight: 900 !important;
}

.current-price {
  margin-top: 0px !important;
  font-weight: 900 !important;
}

.home-heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  color: var(--text-primary);
}
.home-heading-container .ant-typography {
  color: var(--text-primary);
}

.ant-row .ant-statistic-title {
  color: var(--text-primary);
}
.ant-row .ant-statistic-content {
  color: var(--text-primary);
}

.show-more {
  margin-top: 0px !important;
}

.exchange-image {
  margin: 0px 10px !important;
}

.search-crypto {
  margin: 20px auto 30px auto;
  width: 250px;
}

.crypto-card-container {
  min-height: 65vh !important;
}

.crypto-card {
  min-width: 250px;
}

.crypto-card .crypto-image {
  width: 35px;
}

.select-timeperiod {
  width: 200px !important;
  margin-top: 20px !important;
}

.login {
  display: flex;
  flex-direction: row;
  /* justify-content: center;
  align-items: center; */
}
.login .ant-form label {
  color: var(--text-primary);
}
.login .ant-input,
.login .ant-input-password {
  background-color: var(--input-field-bgcol);
  color: var(--text-primary);
  border: none;
  padding: 15px;
}
.login .ant-input .ant-input-suffix span[aria-label=eye-invisible],
.login .ant-input-password .ant-input-suffix span[aria-label=eye-invisible] {
  color: var(--text-primary);
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-content {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.subscription-hero .ant-typography {
  color: var(--text-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  margin: 10px 0 10px 0;
}
@media screen and (max-width: 500px) {
  .subscription-hero .ant-typography {
    font-size: 30px;
  }
}
.subscription-hero .subscriptions .subscription-card {
  text-align: center;
}
.subscription-hero .subscriptions .subscription-card li {
  list-style: none;
  margin: 10px 0px;
  font-size: large;
}
.subscription-hero .subscriptions .subscription-card p {
  margin: auto;
}
.subscription-hero .subscriptions .subscription-card .price {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscription-hero .subscriptions .subscription-card .price .heading {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.subscription-hero .subscriptions .subscription-card .price Button {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.5rem;
  font-size: large;
}
.subscription-hero .comparision-table .ant-table-content {
  background-color: var(--bgPrimary);
  color: var(--text-primary);
}
.subscription-hero .comparision-table .ant-table-content .ant-table-row {
  border-bottom: 1px solid #0071bd;
}
.subscription-hero .comparision-table .ant-table-content .ant-table-row:hover :nth-child(n) {
  background-color: initial;
}

.top-navbar {
  background-color: var(--bgSecondary);
}
.top-navbar .user-profile {
  display: flex;
  margin-left: auto;
  justify-content: flex-end;
  gap: 1rem;
}
.top-navbar .user-profile :nth-child(n) {
  vertical-align: middle;
}
.top-navbar .user-profile .theme-switcher :nth-child(1) {
  width: 2rem;
  height: 2rem;
}
.top-navbar .user-profile .theme-switcher:hover {
  cursor: pointer;
}
.top-navbar .user-profile .user-content .ant-avatar {
  margin-right: 0.4rem;
}
.top-navbar .user-profile .user-name {
  color: var(--text-primary);
}
.top-navbar .user-profile .menu-item-with-icon {
  position: relative;
}
.top-navbar .user-profile .menu-item-with-icon .icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (max-width: 800px) {
  .top-navbar {
    padding-right: 10px;
  }
}