@import './variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s ease-in-out;
}

a:hover {
    color: var(--pink) !important;
}

.redCross {
    color: red;
    font-weight: 'bold';
    font-size: larger;
}

.greenTick {
    color: rgb(0, 244, 4);
    font-weight: 'bold';
    font-size: larger;
}

.app {
    display: flex;
    overflow: hidden;
    min-height: 100vh;
}

.navbar {
    flex: 0.17;
    background-color: var(--bgPrimary);
}

.nav-container {
    position: fixed;
    left: 0;
    margin: 10px;
    height: 100vh;
    margin: 0px;
    background-color: var(--bgPrimary);
    color: var(--text-primary);
}

.logo-container {
    background-color: var(--bgPrimary);
    display: flex;
    padding: 20px;
    align-items: center;
    width: 100%;

    .logo {
        margin: 0 0 0 15px;
        color: var(--text-primary);

        a {
            color: var(--text-primary);
        }
    }

    .nav-items {
        background-color: var(--bgPrimary);
        color: var(--text-primary);

        .menu-link {
            color: var(--text-primary) !important;
        }

    }

}



.main {
    flex: 0.83;
    width: 100%;
    display: flex;
    flex-direction: column;

    .routes {
        padding: 0 20px 130px 65px;
        background-color: var(--bgSecondary);
        color: var(--text-primary);
        height: 100%;

        .heading {
            color: var(--text-primary);

            .title {
                color: var(--text-primary);
            }
        }

        @media screen and (max-width:800px) {
            padding-left: 25px;
        }
    }
}

.crypto-header-card-info {
    background-color: var(--bgPrimary);
    padding: 1rem;
    border-radius: 10px;
    // width: fit-content;
}


.card {
    background-color: var(--bgPrimary);
    color: var(--text-primary);
    border: transparent;

    .ant-card-head {
        background-color: var(--bgPrimary);
        color: var(--text-primary);
    }

    .ant-card-body {
        height: 100%;
    }

    .news-desc {
        margin: 2rem 0 3rem 0;
    }

    .provider-container {
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 10px;
        width: 100%;

        .news-source {
            display: flex;
            white-space: nowrap;

            :nth-child(1) {
                background-color: #d9d9d9;
            }

            :nth-child(2) {
                flex-wrap: wrap;
            }
        }

        .news-time {
            margin-right: 2rem;
            // align-items: flex-end;
        }
    }
}

.card:hover {
    box-shadow: 0 0 10px 0 var(--hover-color);

}



.menu-control-container {
    display: none !important;
    position: absolute !important;
    right: 10px !important;
    top: 25px !important;
    font-size: 1.2rem !important;
    background-color: var(--bgSecondary) !important;
    border: none !important;
}

.loader {
    height: 81vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width:1170px) {
    .main {
        margin-left: 50px;
    }
}

@media screen and (max-width:1000px) {
    .main {
        margin-left: 100px;
    }
}

@media screen and (max-width:800px) {
    .app {
        flex-direction: column;
        overflow: hidden;
    }

    .navbar {
        flex: 1;
    }

    .main {
        flex: 1;
        margin-top: 80px;
        margin-left: 0px;
        margin-right: 10px;
    }

    .nav-container {
        height: 8vh;
        position: fixed;
        width: 100%;
        z-index: 100;
        background-color: var(--bgSecondary);
    }

    .menu-control-container {
        display: block !important;
        color: var(--text-primary) !important;
    }

    .ant-menu {
        position: absolute;
        right: 0px;
    }

    .show-more {
        font-size: 1.3rem !important;
    }
}

.coin-detail-container {
    margin: 30px;

    .add-to-fav {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 20px;

        .ant-btn {
            background-color: var(--bgPrimary);
            color: var(--text-primary);
        }

        .ant-btn:hover {
            box-shadow: 0 0 10px 0 var(--hover-color);
        }
    }

    .price-container {
        :nth-child(n) {
            color: var(--text-primary);
        }
    }
}

.coin-heading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 10px;

    .coin-name {
        font-weight: 900;
        color: var(--pink);
    }

    p {
        font-size: 1rem;
        opacity: 0.9;
        margin-bottom: 20px;
    }

    .stats-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
        // color: var(--text-primary);

        h2 {
            font-weight: 700;
            font-size: 1.4rem;
            margin-top: 20px;
            color: var(--pink);
        }

    }

}



.coin-details-heading {
    font-weight: 700 !important;
    margin-top: 20px !important;
    color: var(--pink) !important;
}

.coin-stats {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border);
    font-size: 1rem;
    opacity: 0.9;
    padding: 20px;

}

.coin-stats-name {
    display: flex;
    gap: 10px;
    font-size: 1rem;
}

.stats {
    font-weight: 800;
}

.coin-value-statistics-heading p {
    font-size: 1rem;
    opacity: 0.9;
}

.coin-desc-link {
    display: flex;
    gap: 40px;
    margin-top: 40px;
    padding-top: 20px;
}

.coin-desc-link h2 {
    font-weight: 700;
    color: var(--pink);
}

.coin-desc-link p {
    font-size: 1rem;
    opacity: 0.9;
}

.coin-desc-link a {
    color: var(--pink);
}

.coin-desc-link h3 {
    font-weight: 700;
}

.coin-desc {
    flex: 0.5;
}

.coin-links {
    padding: 0px 20px;
    flex: 0.5;
}

.coin-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border);
    padding: 20px;
}

.link-name {
    text-transform: capitalize;
    font-size: 1rem;
}

.coin-link a {
    color: var(--pink);
    font-weight: 700;
    font-size: 1rem;
}

.coin-link:hover,
.coin-stats:hover {
    background-color: var(--bgSecondary);
}

@media screen and (max-width:1000px) {
    .stats-container {
        flex-direction: column;
    }

    .coin-desc-link {
        flex-direction: column;
    }

    .stats-container h2 {
        margin-top: 0px;
    }
}

@media screen and (max-width: 500px) {
    .coin-links {
        padding: 0px;
    }

    .coin-detail-container {
        margin: 0;
    }
}

@media screen and (max-width: 500px) {
    .heading {
        margin-top: 20px;
    }
}

@media screen and (max-width:700px) {
    .login__image {
        display: none;
    }
}

.select-news-crypto {
    width: 250px;
    height: 40px;
    background-color: var(--bgPrimary);
    color: var(--text-primary);
    border-color: var(--border);
    
    &:focus {
        box-shadow: 0 0 15px 0 var(--hover-color);
      }
    
}


.news-card {
    min-height: 300px !important;
}

.news-header-container {
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    align-items: center;

    .img {
        width: 150px;
        height: 150px;
        margin-top: 1rem;
    }

    .news-title {
        width: 100%;
    }
}



.news-card p {
    color: black;
    margin: 10px 0px !important;
}



.provider-name {
    margin-left: 10px;
}

.chart-header {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    color: #0071bd;
}

.chart-title {
    color: #0071bd !important;
}

.price-container {
    display: flex !important;
    gap: 20px !important;
    align-items: center !important;
    flex-wrap: wrap !important;
}

.price-change {
    font-weight: 900 !important;
}

.current-price {
    margin-top: 0px !important;
    font-weight: 900 !important;
}

.home-heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    color: var(--text-primary);

    .ant-typography {
        color: var(--text-primary);

    }

}

.ant-row {
    .ant-statistic-title {
        color: var(--text-primary);
    }

    .ant-statistic-content {
        color: var(--text-primary);
    }
}

.show-more {
    margin-top: 0px !important;
}

.exchange-image {
    margin: 0px 10px !important;
}


.crypto-card-container {
    min-height: 65vh !important;
}

.crypto-card {
    min-width: 250px;
}

.crypto-card .crypto-image {
    width: 35px;
}

.select-timeperiod {
    width: 200px !important;
    margin-top: 20px !important;
}

.login {
    display: flex;
    flex-direction: row;
    /* justify-content: center;
    align-items: center; */

    .ant-form {
        label {
            color: var(--text-primary);
        }
    }

    .ant-input,
    .ant-input-password {
        background-color: var(--input-field-bgcol);
        color: var(--text-primary);
        border: none;
        padding: 15px;

        .ant-input-suffix {
            span[aria-label="eye-invisible"] {
                color: var(--text-primary);
            }
        }
    }
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;

}


.card-content {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.subscription-hero {
    .ant-typography {
        color: var(--text-primary);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 50px;
        margin: 10px 0 10px 0;

        @media screen and (max-width: 500px) {
            font-size: 30px;
        }
    }

    .subscriptions {
        .subscription-card {
            text-align: center;


            li {
                list-style: none;
                margin: 10px 0px;
                font-size: large;
            }

            p {
                margin: auto;
            }

            .price {
                display: flex;
                flex-direction: column;
                align-items: center;

                .heading {
                    display: flex;
                    flex-direction: row;
                    align-items: baseline;
                }

                Button {
                    width: 100%;
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                    height: fit-content;
                    padding: 0.5rem;
                    font-size: large;
                }
            }
        }
    }

    .comparision-table {
        .ant-table-content {
            background-color: var(--bgPrimary);
            color: var(--text-primary);

            .ant-table-row {
                border-bottom: 1px solid #0071bd;
            }

            .ant-table-row:hover {
                :nth-child(n) {
                    background-color: initial;
                }
            }

        }
    }
}
