:root {
  --text-primary: #000;
  --bgPrimary: #fff;
  --bgSecondary: #eaeaea;
  --btn-col: #fff;
  --light-blue: #e6f7ff;
  --border: #d9d9d9;
  --hover-color: rgba(105, 105, 105, 0.7);
  --input-field-bgcol: #eaeaea;
}

[data-theme=dark] {
  --text-primary: #fff;
  --bgPrimary: rgb(15 23 42);
  --bgSecondary: rgb(0 0 0);
  --btn-col: #2563eb;
  --light-blue: #e6f7ff;
  --border: #d9d9d9;
  --hover-color: rgba(0, 255, 255, 0.7);
  --input-field-bgcol: rgb(30 41 59);
}

.edit-profile-container {
  margin: 0.5rem;
  border-radius: 2rem;
  background-color: var(--bgPrimary);
  height: 100%;
  width: 95%;
  padding: 2rem;
}
.edit-profile-container .box .box-header-basic-info,
.edit-profile-container .box .box-header-socials {
  font-size: 25px;
  font-weight: 600;
  display: flex;
  align-items: flex-end;
  color: var(--text-primary);
}
.edit-profile-container .box .box-content-basic-info,
.edit-profile-container .box .box-content-socials {
  margin-top: 1rem;
}
.edit-profile-container .box .box-content-basic-info .ant-input,
.edit-profile-container .box .box-content-socials .ant-input {
  padding: 1rem;
  background-color: var(--input-field-bgcol);
  color: var(--text-primary);
}
.edit-profile-container .box .box-content-basic-info img,
.edit-profile-container .box .box-content-socials img {
  width: 12rem;
  height: 12rem;
  margin-right: 1rem;
  border-radius: 50%;
}
.edit-profile-container .box .box-content-about,
.edit-profile-container .box .box-content-profile-identity {
  margin-top: 1rem;
}
.edit-profile-container .box .box-content-about .ant-input,
.edit-profile-container .box .box-content-profile-identity .ant-input {
  padding: 1rem;
  background-color: var(--input-field-bgcol);
  color: var(--text-primary);
}
.edit-profile-container .box .box-content-about .display-tech-stack,
.edit-profile-container .box .box-content-profile-identity .display-tech-stack {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0 1rem 0;
  gap: 10px;
  color: var(--text-primary);
}
.edit-profile-container .box .box-content-about .display-tech-stack .tech,
.edit-profile-container .box .box-content-profile-identity .display-tech-stack .tech {
  display: flex;
  white-space: nowrap;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  border: 1px solid var(--border);
  border-radius: 5rem;
  font-size: 16px;
  font-weight: 700;
}
.edit-profile-container .box .box-content-about .display-tech-stack .tech :nth-child(n),
.edit-profile-container .box .box-content-profile-identity .display-tech-stack .tech :nth-child(n) {
  white-space: nowrap;
  vertical-align: middle;
  margin: 0 2px 0 2px;
}
.edit-profile-container .box .box-content-about .display-tech-stack .tech :nth-child(2),
.edit-profile-container .box .box-content-profile-identity .display-tech-stack .tech :nth-child(2) {
  margin-top: 4px;
}
.edit-profile-container .box .box-content-about .display-tech-stack .tech:hover,
.edit-profile-container .box .box-content-profile-identity .display-tech-stack .tech:hover {
  cursor: pointer;
  box-shadow: 0 0 20px var(--hover-color);
}