:root {
  --text-primary: #000;
  --bgPrimary: #fff;
  --bgSecondary: #eaeaea;
  --btn-col: #fff;
  --light-blue: #e6f7ff;
  --border: #d9d9d9;
  --hover-color: rgba(105, 105, 105, 0.7);
}

[data-theme=dark] {
  --text-primary: #fff;
  --bgPrimary: #001529;
  --bgSecondary: #001529;
  --btn-col: #001529;
  --light-blue: #e6f7ff;
  --border: #d9d9d9;
  --hover-color:rgba(0, 255, 255, 0.7);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s ease-in-out;
}

a:hover {
  color: var(--pink) !important;
}

.redCross {
  color: red;
  font-weight: "bold";
  font-size: larger;
}

.greenTick {
  color: rgb(0, 244, 4);
  font-weight: "bold";
  font-size: larger;
}

.app {
  display: flex;
  overflow: hidden;
  min-height: 100vh;
}

.navbar {
  flex: 0.17;
  background-color: var(--bgPrimary);
}

.nav-container {
  position: fixed;
  left: 0;
  margin: 10px;
  height: 100vh;
  margin: 0px;
  background-color: var(--bgPrimary);
  color: var(--text-primary);
}

.logo-container {
  background-color: var(--bgPrimary);
  display: flex;
  padding: 20px;
  align-items: center;
  width: 100%;
}
.logo-container .logo {
  margin: 0 0 0 15px;
  color: var(--text-primary);
}
.logo-container .logo a {
  color: var(--text-primary);
}
.logo-container .nav-items {
  background-color: var(--bgPrimary);
  color: var(--text-primary);
}
.logo-container .nav-items .menu-link {
  color: var(--text-primary) !important;
}

.main {
  flex: 0.83;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.main .routes {
  padding: 0 20px 130px 65px;
  background-color: var(--bgSecondary);
  color: var(--text-primary);
  height: 100%;
}
.main .routes .heading {
  color: var(--text-primary);
}
.main .routes .heading .title {
  color: var(--text-primary);
}
@media screen and (max-width: 800px) {
  .main .routes {
    padding: 65px;
  }
}

.card {
  background-color: var(--bgPrimary);
  color: var(--text-primary);
}
.card .ant-card-head {
  background-color: var(--bgPrimary);
  color: var(--text-primary);
}

.menu-control-container {
  display: none !important;
  position: absolute !important;
  right: 10px !important;
  top: 25px !important;
  font-size: 1.2rem !important;
  background-color: var(--bgSecondary) !important;
  border: none !important;
}

.loader {
  height: 81vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1170px) {
  .main {
    margin-left: 50px;
  }
}
@media screen and (max-width: 1000px) {
  .main {
    margin-left: 100px;
  }
}
@media screen and (max-width: 800px) {
  .app {
    flex-direction: column;
    overflow: hidden;
  }
  .navbar {
    flex: 1;
  }
  .main {
    flex: 1;
    margin-top: 80px;
    margin-left: 0px;
    margin-right: 10px;
  }
  .nav-container {
    height: 8vh;
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: var(--bgSecondary);
  }
  .menu-control-container {
    display: block !important;
    color: var(--text-primary) !important;
  }
  .ant-menu {
    position: absolute;
    right: 0px;
  }
  .show-more {
    font-size: 1.3rem !important;
  }
}
.coin-detail-container {
  margin: 30px;
}

.coin-heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid var(--border);
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 10px;
}
.coin-heading-container .coin-name {
  font-weight: 900;
  color: var(--pink);
}
.coin-heading-container p {
  font-size: 1rem;
  opacity: 0.9;
  margin-bottom: 20px;
}
.coin-heading-container .stats-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.coin-heading-container .stats-container h2 {
  font-weight: 700;
  font-size: 1.4rem;
  margin-top: 20px;
  color: var(--pink);
}

.coin-details-heading {
  font-weight: 700 !important;
  margin-top: 20px !important;
  color: var(--pink) !important;
}

.coin-stats {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border);
  font-size: 1rem;
  opacity: 0.9;
  padding: 20px;
}

.coin-stats-name {
  display: flex;
  gap: 10px;
  font-size: 1rem;
}

.stats {
  font-weight: 800;
}

.coin-value-statistics-heading p {
  font-size: 1rem;
  opacity: 0.9;
}

.coin-desc-link {
  display: flex;
  gap: 40px;
  margin-top: 40px;
  padding-top: 20px;
}

.coin-desc-link h2 {
  font-weight: 700;
  color: var(--pink);
}

.coin-desc-link p {
  font-size: 1rem;
  opacity: 0.9;
}

.coin-desc-link a {
  color: var(--pink);
}

.coin-desc-link h3 {
  font-weight: 700;
}

.coin-desc {
  flex: 0.5;
}

.coin-links {
  padding: 0px 20px;
  flex: 0.5;
}

.coin-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border);
  padding: 20px;
}

.link-name {
  text-transform: capitalize;
  font-size: 1rem;
}

.coin-link a {
  color: var(--pink);
  font-weight: 700;
  font-size: 1rem;
}

.coin-link:hover,
.coin-stats:hover {
  background-color: var(--bgSecondary);
}

@media screen and (max-width: 1000px) {
  .stats-container {
    flex-direction: column;
  }
  .coin-desc-link {
    flex-direction: column;
  }
  .stats-container h2 {
    margin-top: 0px;
  }
}
@media screen and (max-width: 500px) {
  .coin-links {
    padding: 0px;
  }
  .coin-detail-container {
    margin: 0;
  }
}
@media screen and (max-width: 500px) {
  .heading {
    margin-top: 20px;
  }
}
@media screen and (max-width: 700px) {
  .login__image {
    display: none;
  }
}
.select-news {
  width: 180px;
}

.news-card {
  min-height: 300px !important;
}

.news-header-container {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  align-items: center;
}
.news-header-container .img {
  width: 150px;
  height: 150px;
  margin-top: 1rem;
}
.news-header-container .news-title {
  width: 100%;
}

.news-card p {
  color: black;
  margin: 10px 0px !important;
}

.provider-container {
  display: flex;
  justify-content: space-between;
}

.provider-name {
  margin-left: 10px;
}

.chart-header {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  color: #0071bd;
}

.chart-title {
  color: #0071bd !important;
}

.price-container {
  display: flex !important;
  gap: 20px !important;
  align-items: center !important;
  flex-wrap: wrap !important;
}

.price-change {
  font-weight: 900 !important;
}

.current-price {
  margin-top: 0px !important;
  font-weight: 900 !important;
}

.home-heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  color: var(--text-primary);
}
.home-heading-container .ant-typography {
  color: var(--text-primary);
}

.ant-row .ant-statistic-title {
  color: var(--text-primary);
}
.ant-row .ant-statistic-content {
  color: var(--text-primary);
}

.show-more {
  margin-top: 0px !important;
}

.exchange-image {
  margin: 0px 10px !important;
}

.search-crypto {
  margin: 20px auto 30px auto;
  width: 250px;
}

.crypto-card-container {
  min-height: 65vh !important;
}

.crypto-card {
  min-width: 250px;
}

.crypto-card .crypto-image {
  width: 35px;
}

.select-timeperiod {
  width: 200px !important;
  margin-top: 20px !important;
}

.login {
  display: flex;
  flex-direction: row;
  /* justify-content: center;
  align-items: center; */
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-content {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.subscription-card {
  text-align: center;
}
.subscription-card li {
  list-style: none;
  margin: 10px 0px;
  font-size: large;
}
.subscription-card p {
  margin: auto;
}
.subscription-card .price {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscription-card .price .heading {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.subscription-card .price Button {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.5rem;
  font-size: large;
}

.top-navbar {
  background-color: var(--bgSecondary);
}
.top-navbar .user-profile {
  display: flex;
  margin-left: auto;
  justify-content: flex-end;
}
.top-navbar .user-profile .theme-switcher + .user-content {
  vertical-align: middle;
}
.top-navbar .user-profile .theme-switcher:first-child {
  margin: 0 20px 0 20px;
}
.top-navbar .user-profile .user-content .ant-avatar {
  margin-right: 0.4rem;
}
.top-navbar .user-profile .user-name {
  color: var(--text-primary);
}
.top-navbar .user-profile .menu-item-with-icon {
  position: relative;
}
.top-navbar .user-profile .menu-item-with-icon .icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (max-width: 800px) {
  .top-navbar {
    display: none;
  }
}

.profileImg {
  border-radius: 4px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: left;
  padding: 1rem;
}
.profileImg img {
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
  margin-top: 50px;
}
.profileImg .profile-cont {
  vertical-align: middle;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 1rem;
}
.profileImg .profile-cont .profile-cont__item {
  font-size: large;
  font-weight: 300;
}
.profileImg .profile-cont .profile-cont__item:first-child {
  font-size: x-large;
  font-weight: 400;
}
.profileImg .edit-btn {
  margin-left: auto;
}
.profileImg .edit-btn .edit-profile {
  margin-top: 5.3rem;
  color: var(--text-primary);
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  font-size: large;
  font-weight: 500;
  background-color: var(--btn-col);
  padding: 1rem;
  border-radius: 30px;
}
.profileImg .edit-btn .edit-profile:hover {
  cursor: pointer;
  box-shadow: 0 0 30px var(--hover-color);
}
@media screen and (max-width: 800px) {
  .profileImg {
    align-items: center;
  }
  .profileImg .edit-btn .edit-profile {
    margin-top: 0;
    margin-bottom: 2.5rem;
  }
}

.profile_header {
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.profile_header .social-icon {
  display: flex;
  font-size: 20px;
  font-weight: 300;
  gap: 20px;
}
.profile_header .location {
  display: flex;
  font-size: 20px;
  font-weight: 300;
  gap: 10px;
}
.profile_header .date {
  display: flex;
  font-size: 20px;
  font-weight: 300;
  gap: 10px;
}
@media screen and (max-width: 700px) {
  .profile_header {
    flex-direction: column;
  }
}

.profile {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.profile .about-me {
  padding: 20px;
  text-align: center;
  font-size: 18px;
  border: 1px solid #ccc;
  margin-bottom: 16px;
  height: 100%;
}
.profile .about-me :nth-child(2) {
  margin-top: 1rem;
}
.profile .skills {
  padding: 20px;
  text-align: center;
  font-size: 18px;
  border: 1px solid #ccc;
  margin-bottom: 16px;
  height: 100%;
}
.profile .skills .tech-stacks {
  display: flex;
  margin-top: 1rem;
  justify-content: space-evenly;
}
.profile .skills .tech-stacks .tech {
  background-color: var(--bgPrimary);
  padding: 4px;
  border-radius: 5px;
  color: var(--text-primary);
  box-shadow: 0 0 5px var(--hover-color);
}
.profile .availability {
  padding: 20px;
  text-align: center;
  font-size: 18px;
  border: 1px solid #ccc;
  margin-bottom: 16px;
  height: 100%;
}
.profile .availability :nth-child(2) {
  margin-top: 1rem;
}
@media screen and (max-width: 700px) {
  .profile :nth-child(n) {
    display: block;
  }
}/*# sourceMappingURL=profile.css.map */